{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://cdn.pixabay.com/photo/2018/02/10/21/25/the-seagulls-3144601__340.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">A little about.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>Hi! I'm Gideon. I am a software developer. I have a microbiology degree from Obafemi Awolowo University, Ile-Ife, Nigeria but don't ask me about anything related to microbiology because I don't remember anything...lol</p>
        <p>I used to work as a public health and data project manager at a healthtech NGO. I write softwares and watch anime all day now</p>
        <p>I share my tech journey here and everything I learn along the way. I hope you find something you like or that inspires growth, learning, happiness or positivity.</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}
